.user-page {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0 0 0;
    background: lightgoldenrodyellow;
}
.user-link {
    color: black;
}