.recipes-details {
    width: 100%;
    height: 462px;
    background: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.recipes-item {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}